#docktop_bg {
  height: 60px;
  background-color: #4455fe;
  box-shadow: 1px, 1px, 1px;
}


#docktop_fg {
  height: 50px;
  top: 20px;
  line-height: 30px;
  text-align: left;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  margin-left: 50px;
  background-color: #4455fe
  color: #ff4a00;
}

#fanzeng {
	color:#ffffff;
}
#au {
	color:#ffd700;
}
#dotcom {
	color: #ffffff;
}

div:content {
	position: fixed;
	margin: 0px;
	top: 80px;
}

h1.section {
  position: relative;
  padding-top: 100px;
}


img.icon_skills {
  width: 32px;
  height 32px;
  padding: 0px;
  margin: 2px;
}

img.icon_skills_wide {
  width: 64px;
  height: 32px;
  padding: 0px;
  margin: 2px;
}

img.img_project {
  width: 128px;
  height: 128px;
  box-shadow: 5px 5px 5px #aaaaaa;
  padding: 0px;
  border: 0px;
}